@import url('https://fonts.googleapis.com/css?family=Poppins');

#text-hover{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center ;
    top: 50;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
    
}
#logo {
    position:static;
    top: 0;
    left: 0;
    width: 50px; /* adjust as needed */
    height: auto; /* keep aspect ratio */
    background-image: url('/images/logo.jpg');
    background-repeat: no-repeat;
    margin: 0;
    
}



h1{

    margin:  0 ;
    font-size: 10em;
    line-height: 0.8em;
    text-align: center;
    display: flex;
    opacity: 0.0 - 1.0;
        background-color: rgba(128, 128, 128, 0.5);
        padding: 10px;
    }
    
    


    


h1 span{
    position: relative;
    text-transform: uppercase;
    display: block;
}



h1:hover span:nth-child(1)::before{
    transform: scaleX(1);
}



h1:hover span:nth-child(2)::before{
    transform: scaleX(1);
}

h1 span hide{
    transition: 0.5s;
    transition-delay: 0.5s;
}

h1:hover span hide{
   
    transition-delay: 0.5s;

}

h1:hover span:nth-child(1) hide{
    padding-right: 30px;
}

h1:hover span:nth-child(2) hide{
    padding-right: 40px;
}